.Projects {
    background: #1c1c1c;
    padding: 50px 20px;
    border-top: 1px solid  wheat;
}

.headingProject {
    text-align: start;
    font-size: 50px;
    padding: 50px 10px 10px 80px;
    color: white;
}

.contentProject {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    margin: 20px 0;
    position: relative;
}

.video-container {
    position: relative;
    width: 100%;
}

.noControllers {
    border-radius: 10px;
}

.hovertext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.video-container:hover .hovertext {
    opacity: 1;
}

.github-icon {
    margin-top: 10px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    background-color: aliceblue;
}

.animate {
    transition: transform 0.3s ease-in-out;
}

.animate:hover {
    transform: scale(1.05);
}