.About {
    background: #1c1c1c;
    color: #848484;
    padding: 50px;
    display: flex;
    flex-direction: column;
  
}

.headingAbout {
    font-size: 37px;
    color: white;
    margin-bottom: 20px;
    text-align: start;
}

.contentAbout {
    font-size: 20px;
    max-width: 1500px;
    width: 100%;
    text-align: left;
   
    line-height: 1.6;
}

@media (min-width: 768px) {
    .headingAbout {
        font-size: 50px;
        align-items: center;
    }

    .contentAbout {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .headingAbout {
        font-size: 30px;
        text-align: center;
        align-items: center;
    }

    .contentAbout {
        text-align: left;
        padding: 0 20px;
        font-size: 15px;
    }
}
